@import "tailwindcss";

@layer base {
  html, body {
    @apply overscroll-none;
  }
}

@theme {
  --color-primary: #FF9770;
  --color-secondary: #92e3a9;
  --color-tertiary: oklch(27.4% 0.006 286.033);
  --color-dark-txt: oklch(21% 0.006 285.885);
  --color-light-txt: #ffffff
}